.pagination {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.page {
        margin: 0 5px;
        display: inline-block;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        width: 45px;
        height: 45px;
        line-height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fe5f1e;
}

.page:hover {
    color: aliceblue;
    background-color: #fe5f1e;
}

.page__selected {
    color: aliceblue;
    background-color: #fe5f1e;
}

.inactive {
    border: 1px solid #6b6b6b;
    color: #6b6b6b;
}
