.pagination {
    margin: 40px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .page {
        margin: 0 5px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        width: 45px;
        height: 45px;
        line-height: 42px;
        text-align: center;
        cursor: pointer;
        color: #fe5f1e;

        &:hover {
            color: aliceblue;
            background-color: #fe5f1e;
        }

        &__selected {
            color: aliceblue;
            background-color: #fe5f1e;
        }
    }

    .inactive {
        display: flex;
        margin: 0 5px;
        border-radius: 30px;
        width: 45px;
        height: 45px;
        cursor: pointer;
        line-height: 42px;
        border: 1px solid var(--black);
        color: var(--black);
        opacity: 0.3;
        align-items: center;
        justify-content: center;
    }
}

.wrongPage {
    margin-top: 45px;
    font-size: 40px;
    text-align: center;
}