.statistics {
    text-align: center;

    .refresh {
        fill: var(--orange);
        cursor: pointer;

        &Active {
            animation: twist 1s;
    
            @keyframes twist {
                0% {
                    transform: rotate(0deg);
                }
    
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
}