.statistics {
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
    padding: 30px 0;
    position: relative;

    .title{
        margin-bottom: 30px;
    }

    h3 {
        color: var(--orange);
    }

    .refresh {
        fill: var(--orange);
        position: absolute;
        cursor: pointer;
        top: 45px;
        right: 0;

        &Active {
            animation: twist 1s;
    
            @keyframes twist {
                0% {
                    transform: rotate(0deg);
                }
    
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .stat {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        div {
            border: 1px solid var(--grey);
            border-radius: 30px;
            padding: 10px;

            &:nth-child(4) {
                grid-column: 1/4;
            }

            span {
                font-weight: 600;
            }
        }
    }

    .bottom {
        h2 {
            span {
                color: var(--orange);
            }
        }
        margin-top: 20px;
    }

    @media (max-width: 984px) {
        .title {
            margin-bottom: 20px;
        }

        .stat {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px 0;

            div {
                &:nth-child(4) {
                    grid-column: 1/2;
                }
            }
        }

        h2 {
            font-size: 17px;
        }
    }
}