
   .pizza {
        position: absolute;
        width: 100px;
        height: 100px;
        animation: move 5s linear infinite normal forwards;
        right: 30px;

        @keyframes move {
            0% {
                top: 100px;
                transform: rotate(-50deg);
            }

            50% {
                top: 200px;
                transform: rotate(-10deg);
            }

            100% {
                top: 100px;
                transform: rotate(-50deg);
            }
        }
    }
    .sushi {
        position: absolute;
        width: 100px;
        height: 100px;
        animation: move2 5s linear infinite normal forwards;
        left: 30px;

        @keyframes move2 {
            0% {
                top: 200px;
                transform: rotate(40deg);
            }

            50% {
                top: 100px;
                transform: rotate(-40deg);
            }

            100% {
                top: 200px;
                transform: rotate(40deg);
            }
        }
    }


