.wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.829);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    p {
        color: red;
        font-size: 20px;
        font-weight: 600;
    }

    form {
        margin: 0 10px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 1px solid var(--white);
        background-color: var(--white);
        border-radius: 30px;

        input {
            border: 1px solid var(--orange);
            border-radius: 30px;
            padding: 10px 25px;
            margin: 10px 0;
            font-size: 25px;

            &:nth-child(2) {
                padding-top: 13px;
            }
        }

        button {
            margin-top: 20px;
        }

        @media (max-width: 636px) {
            padding: 30px 20px;

            input {
                font-size: 20px;
            }

            button {
                font-size: 15px;
            }
        }

        .success {
            h3 {
                font-size: 20px;
                color: var(--orange);
                margin-bottom: 30px;
            }

            svg {
                cursor: pointer;
                transform: rotate(45deg);
            }
        }
    }
}
