.top {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;

    .edges {
        margin: 6px 0;
        font-weight: 600;
    }

    .params {
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            width: 100%;
            padding: 8px;
            cursor: pointer;
            font-weight: 600;
            transition: all 0.3s;

            &:hover {
                background-color: rgb(223, 223, 223);
                border-radius: 5px;
            }

            &.active {
                background: #ffffff;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
                border-radius: 5px;
                cursor: auto;
            }
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button {
        display: inline-block;
        background-color: transparent;
        border-radius: 30px;
        padding: 8px 10px;
        min-width: 100px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        color: var(--orange);
        transition: background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out;
        border: 1px solid var(--orange);

        span {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: var(--orange);
            color: var(--white);
            padding: 5px;
            margin-left: 5px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }

        &:hover {
            background-color: var(--orange);
            color: var(--white);

            span {
                background-color: var(--white);
                color: var(--orange);
            }
        }
    }

    h4 {
        margin-right: 10px;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
    }
}
